<form method="post">
    <div class="inputs-register">
    <div>
        <input type="text" name="firstname" id="firstname" placeholder="First name" value="{{firstname}}">
    </div>
    <div>
        <input type="text" name="lastname" id="lastname" placeholder="Last name" value="{{lastname}}">
    </div>
    <div>
        <input type="email" name="email" id="email" placeholder="Email Adress" value="{{email}}">
    </div>
    <div>
        <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <div>
        <input type="text" name="age" id="age" placeholder="Age" value="{{age}}">
    </div>
    <div>
        <input type="text" name="city" id="city" placeholder="City" value="{{city}}">
    </div>
    <div>
        <input type="text" name="url" id="url" placeholder="Homepage" value="{{url}}">
    </div>
    </div>
    <div id="but">
    <button type="submit" id="update">UPDATE</button>
    </div>
</form>
