
<h1 id='Petitioners'>Here are all Petitioners that sign this petition:</h1>
    {{#signatures}}
        <div class="profile">
            {{first_name}}
            {{last_name}}
            <a href="/petition/profile/signatures/{{city}}">{{city}}</a>
            {{age}}
            {{url}}
        </div>
    {{/signatures}}
    <script src="/js/signature.js"></script>

    <footer>
        <div><a href="/logout"> <button type="singup" id="logout"  value="log out">LOG OUT</button></a></div>
    </footer>
