
<h2 id='petitioners'>Here are all Petitioners that sign this petition:</h2>
    {{#signatures}}
        <div class="profile">
            {{first_name}}&nbsp;
            {{last_name}}&ensp;
            <a href="/petition/signed/signatures/{{city}}">{{city}}</a>&thinsp;
            {{age}}&thinsp;
            {{url}}
        </div>
    {{/signatures}}
    <script src="/js/signature.js"></script>

    <footer>
    <a href="/logout"> <button type="singup" id="logout"  value="log out">LOG OUT</button></a>
    </footer>
